@model PhotoSharingApp.Model.Photo
<!DOCTYPE html>

<html>
<head>
    <title>All Photos</title>
</head>
<body>
    <div>

        <h2>All Photos</h2>
        <p>
            @Html.ActionLink("Add a Photo",
      "Create", "Photo")
        </p>
        <p>
            @Html.ActionLink("_PhotoGallery", "_PhotoGallery", "Photo")
        </p>
   
</body>
</html>