@model PhotoSharingApp.Models.Photo

@{ Layout = null;}
<!DOCTYPE html>

<html>

<head>
    <title>
        Welcome to Adventure Works
        Photo Sharing
    </title>
    <link type="text/css" rel="stylesheet" href="~/content/Style.css" />
</head>
<body>
    <div id="title" class="slide header">

        <h1>
            Welcome to Adventure Works Photo
            sharing!
        </h1>
        <h2 >
            Use this site to share
            your adventures.
        </h2>

    </div>

    <div id="slide1" class="slide">
        <h1>Latest Photos</h1>
        @Html.Action("_PhotoGallery", "Photo", new { number = 3 })


    </div>

    

</body>
</html>

