@{Layout = null;
}

<!DOCTYPE html>


<html>

<head>
    
    <meta name="viewport" content="width=device-width" />
    
    <title>@ViewBag.Title</title>
    
</head>

<body>
        <div>
                <h1 class="site-page-title">
                        Adventure Works Photo Sharing
            
        </h1>
             <div class="clear-floats" />
                
        
    </div>
    
</body>

</html>
